---
name: Continuous Integration

permissions:
  contents: read

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    name: Ruby ${{ matrix.ruby }} on ${{ matrix.operating-system }}

    runs-on: ${{ matrix.operating-system }}
    continue-on-error: true

    env:
      FAIL_ON_LOW_COVERAGE: ${{ matrix.fail_on_low_coverage }}

    strategy:
      fail-fast: false
      matrix:
        # Build on the minimal and maximal Ruby versions supported
        ruby: ["3.1", "3.4"]
        operating-system: [ubuntu-latest]
        fail_on_low_coverage: ["true"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Initialize Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run rake
        run: bundle exec rake
